.reactWindowTitleBar {
	&.controlRight {
		flex-direction: row-reverse;
		.windowControlsContainer {
			justify-content: flex-end;
			.windowControls {
				flex-direction: row-reverse;
			}
		}
		.sideButtons {
			justify-content: flex-end;
			flex-direction: row-reverse;
		}
	}
}