.reactWindowTitleBar {
	&.controlLeft {
		flex-direction: row;
		.windowControlsContainer {
			justify-content: flex-start;
			.windowControls {
				flex-direction: row;
			}
		}
		.sideButtons {
			justify-content: flex-end;
		}
	}
}